<p id="notice"><%= notice %></p>

<h1>Bloggs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @bloggs %>

  </tbody>
</table>

<br>

<%= link_to 'New Blogg', new_blogg_path %>
