<h1>Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @posts  %>
<br>
<% @skills.each do |skill|%>
  <%= skill.title %>
  <%= skill.percent_utilized %>
  <br>
<% end %>